<ion-view>
  <ion-nav-title>
      Check for {{focusedRestaurant.attributes.restaurantName}}
  </ion-nav-title>
  <ion-content>
    <ion-item collection-repeat = 'item in orderItems' ng-show="isCheckedIn">
      <input ng-show="!item.paid" type="checkbox" ng-model="item.selected" ng-change="togglePay(item)"><span class='itemName'> {{item.title}} </span><span ng-show="!item.selected && !item.paid" class = 'itemPrice'> {{+item.price - +item.totalPaid | currency}} </span>
      <input class="payAmount" type="text" ng-change="updatePay()" ng-show="item.selected" ng-model="item.payAmount"><span class="itemPrice" ng-show="item.selected">$</span>
      <span class='itemPrice' ng-show="item.paid">Paid</span>
    </ion-item>
      <strong>
      <ion-item ng-show="isCheckedIn" class='billTotal'>
        Subtotal: {{bill.subtotal | currency}}
      </ion-item>

      <ion-item ng-bind='taxPlusSubtotal()' ng-show="isCheckedIn" class='billTotal'>
      </ion-item>

      <ion-item ng-show="isCheckedIn" class='billTotal'>
        Tip Amount: <input ng-model="bill.tip" class='tip'><br>
        <button class="button button-small button-stable" ng-click='tipCalculator(.15)'>15%</button>
        <button class="button button-small button-stable" ng-click='tipCalculator(.18)'>18%</button>
        <button class="button button-small button-stable" ng-click='tipCalculator(.20)'>20%</button> 
      </ion-item>

      <ion-item ng-show="isCheckedIn" ng-bind="total()" class='billTotal'>
      </ion-item>
      </strong>
      <form ng-submit='doCharge()' ng-show="isCheckedIn">
        </div>
        <div class = 'submit'>
          <button ng-show='!isBilled' class="button button-block button-positive" type='submit'>
            Submit Payment
          </button>
          <button class='button button-block button-balanced'ng-show='isBilled'> Your card has successfully been charged.
          </button>
        </div>
      </form>
    <ion-item class="item-text-wrap divCenter" ng-show="invalidInput">
    Invalid payment values.
    You must have one or more items selected and valid monetary values provided for each selected item.
    Please do not exceed the remaining balance for any item.
    </ion-item>
    <ion-item class="item-text-wrap divCenter" ng-show="!isCheckedIn" class="card">
      You must be seated at a restaurant before your check will be available.
    </ion-item>
    <ion-item class="item-text-wrap divCenter">
    Please note that any charges less than $.50 will be rounded up to $.50.
    </ion-item>
  </div>
  <br>
  <br>
  </ion-content>

  <ion-footer-bar align-title="left">
    <div class="tabs">
      <a class="tab-item" href='#/nav/restaurantMenu'>
        Menu
      </a>
      <a class="tab-item" href='#/nav/restaurantDescription'>
        Details
      </a>
      <a class="tab-item" href='#/nav/currentCheck'>
        Check
      </a>
      <a class="tab-item" href='#/nav/checkIn'>
        Check In
      </a>
      <a class="tab-item">
        Server
      </a>
    </div>
  </ion-footer-bar>
</ion-view>
