<div class="container"> 
  <table class="table">
    <thead>
      <tr>
        <th>Table</th>
        <th>Item ordered</th>
        <th>Waiting time</th>
        <th></th>
      </tr>
    </thead>
    <tbody ng-repeat="party in parties">
      <tr class="active" ng-repeat="itemOrdered in party.itemsOrdered" ng-show="party.itemsOrdered.length">
        <td>
          {{party.tableNumber}}
        </td>
        <td>
          {{itemOrdered.attributes.menuItem.title}}
        </td>
        <td>
          {{itemOrdered.attributes.orderedAt}}
        </td>
        <td>
          <button class="btn btn-primary btn-sm" ng-click="serveItem(itemOrdered)">Served</button>
        </td>
      </tr>
      <tr ng-hide="party.itemsOrdered.length">
        <td>
          {{party.tableNumber}}
        </td>
        <td colspan="3">This party is all served</td>
      </tr>
    </tbody>
  </table>
</div>
