<ion-view>
 <ion-nav-title>
      Details for {{focusedRestaurant.attributes.restaurantName}}
  </ion-nav-title>
  <ion-content>
    <form ng-submit="doCheckIn()" ng-show="!isCheckedIn && hasRestaurant">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Party Name</span>
          <input type="text" ng-model="partyInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Party Size</span>
          <input type="number" ng-model="partyInfo.party_size">
        </label>
        <label class="item">
          <button ng-if='!isCheckedIn' class="button button-block button-positive" type="submit">Check In at {{focusedRestaurant.attributes.restaurantName}}</button>
          <button ng-if='isCheckedIn' class="button button-block button-balanced" type="submit">Checked In at {{focusedRestaurant.attributes.restaurantName}}</button>
        </label>
      </div>
    </form>
    <br>
    <br>
      <form ng-submit="addUsersToParty()" ng-show="isCheckedIn" class="card">
        <div class="item item-text-wrap divCenter">
          You are checked in to {{focusedRestaurant.attributes.restaurantName}}.
          <br>
          <br>
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
     
           Add users to check-in:
              </div>
              <select name="selectedUser" ng-model="selectedUser" ng-change="setSelectedUser(selectedUser)">
                 <option value="">---Please select---</option> 
                 <option ng-repeat="user in users.data.data" value="{{user}}">{{user.attributes.username}}</option> 
               </select>
            </label>
          </div>
          <button type="submit" class="button button-small button-balanced btnRight">Add User to Reservation</button>
        </div>
      </form>
      <div ng-show="!hasRestaurant && !isCheckedIn" class="card">
        <div class="item item-text-wrap">
          Please select a restaurant from the home page before checking in!
        </div>
      </div>
  </ion-content>

<!--   <ng-include src="footersrc"></ng-include> -->

  <ion-footer-bar align-title="left">
  <div class="tabs">
      <a class="tab-item" href='#/nav/restaurantMenu'>
        Menu
      </a>
      <a class="tab-item" href='#/nav/restaurantDescription'>
        Details
      </a>
      <a class="tab-item" href='#/nav/currentCheck'>
        Check
      </a>
      <a class="tab-item" href='#/nav/checkIn'>
        Check In
      </a>
      <a class="tab-item">
        Server
      </a>
    </div>
</ion-footer-bar>


</ion-view>

    
