/*.menuCreator button {
  border-radius: 20px;
  color: white;
  border: none;
  font-size: 10px;
}

.delete {
  background-color: red;
}

.create {
  background-color: #b3ffb3;
}

.edit {
  background-color: #FFFF66;
}*/

.catNameEdit {
  display: block;
  font-size: 23px;
/*  font-weight: bold;*/
}