<ion-view view-title="Restaurants Nearest You">
  <ion-content>
    <div collection-repeat = 'rest in restaurants' class="list card">
        <div class="item item-avatar">
          <img ng-src="{{rest.attributes.restaurantPictureUrl}}">
          <h2>{{rest.attributes.restaurantName}}</h2>
          <p>{{rest.attributes.restaurantAddress}} {{rest.attributes.restaurantCity}} {{rest.attributes.restaurantState}}</p>
          <p> About {{rest.attributes.distance | number:1}} miles from you</p>
        </div>
        <div class="item item-image">
          <a href='#/nav/restaurantMenu' ng-click='focusRestaurant(rest)'>
            <img class = 'restaurantContainer' ng-src="{{rest.attributes.restaurantPictureUrl}}">
          </a>
        </div>
        <a class="item item-icon-left assertive" ng-click='focusRestaurant(rest)' href='#/nav/restaurantMenu' >
          <i class="ion-arrow-right-a"></i>
          See menu, hours and check-in
        </a>
    </div>
    <br>
    <br>
    <ion-item class = 'item item-text-wrap divCenter'ng-show="checkedIn">You are currently checked in to {{restaurants[0].attributes.restaurantName}}.  You must complete
    your meal at this restaurant before accessing other restaurants.</ion-item>
  </ion-content>
</ion-view>
