<form role="form" ng-submit="submitRestaurant()">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Opening Hour</th>
        <th>Closing Hour</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="day in days">
        <td>{{day}}</td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control input-sm"
            value = {{restaurant['opening_hour_' + day.toLowerCase()]}} ng-model="restaurant['opening_hour_' + day.toLowerCase()]">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </td>
        <td>
          <div class="input-group">
            <input type="text" class="form-control input-sm"
            value = {{restaurant['closing_hour_' + day.toLowerCase()]}} ng-model="restaurant['closing_hour_' + day.toLowerCase()]">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <input type="submit" name="submit" id="submit" class="btn btn-info pull-right"
    value="Create my Restaurant" ng-show="creation">
  <input type="submit" name="submit" id="submit" class="btn btn-info pull-right"
    value="Update Info" ng-hide="creation">
</form>
