<form role="form" ng-submit="submitRestaurant()" ng-show="showForm()">
  <div class="col-md-7">
    <div class="form-group">
      <label for="InputCategory">Category of restaurant</label>
      <input type="text" class="form-control" id="InputCategory" 
        name="InputCategory" placeholder="Enter a category best describing your restaurant"
        value = {{restaurant.restaurant_category}} ng-model="restaurant.restaurant_category">
    </div>
    <div class="form-group">
      <label for="InputDescription">Restaurant description</label>
      <input type="text" class="form-control" id="InputDescription" 
        name="InputDescription" placeholder="Enter a short description of your restaurant"
        value = {{restaurant.restaurant_description}} ng-model="restaurant.restaurant_description">
    </div>
    <input type="submit" name="submit" id="submit" class="btn btn-info pull-right"
      value="Update info">
  </div>
</form>

<div ng-hide="showForm()">
  <div class="col-md-7">
    <div class="form-group">
      <label for="InputCategory">Category of restaurant</label>
      <div class="form-control" readonly>
        {{restaurant.restaurant_category}}
      </div>
    </div>
    <div class="form-group">
      <label for="InputDescription">Restaurant description</label>
      <div class="form-control" readonly>
        {{restaurant.restaurant_description}}
      </div>
    </div>
    <button ng-click="showForm.edit = true" class="btn btn-info pull-right">
      Edit Information
    </button>
  </div>
</div>
<!-- 
<div class="col-lg-3 col-md-push-1">
    <div class="col-md-12">
        <div class="alert alert-success">
            <strong><span class="glyphicon glyphicon-ok"></span> Success! Message sent.</strong>
        </div>
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span><strong> Error! Please check all page inputs.</strong>
        </div>
    </div>
</div>
  -->
