<ion-view view-title="Check In">
  <ion-content>
    <form ng-submit="doCheckIn()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Party Name</span>
          <input type="text" ng-model="partyInfo.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Party Size</span>
          <input type="number" ng-model="partyInfo.party_size">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Check In to {{focusedRestaurant.attributes.restaurantName}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>

    