<ion-view view-title="Current Check">
  <ion-content>
  <br>
  <br>
<!--   <div ng-show='!isCheckedIn'>
    Please check in.
  <div>
  <div ng-show='isCheckedIn'>
    You are checked in.
  <div>
 -->
  <div ng-init='getOrderItems()'>
    <h4> Items Ordered </h4>
    <div collection-repeat = 'item in orderItems' item-height='50' item-width='100'>
      <li> <span class='itemName'> {{item.title}} </span> </li>
      <li> <span class = 'itemPrice'> {{item.price}} </span> </li>
      <!-- would want to pull them to separate sides of div, also keep a running total in scope to total at bottom -->
    </div>
    <div class ='subtotal'>
      Subtotal:
      {{subtotal}}
    </div>
    <div class ='subtotal'>
      Total with Tax:
      {{totalWithTax}}
    </div>
    <div>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .15)'>15%</button>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .18)'>18%</button>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .20)'>20%</button> <br>
      Tip: <input value='{{tipAmount}}' ng-model='tipAmount'>
    </div>

    <form ng-submit='doCharge()'>
      <div class = 'total'>
      Total:
      {{totalWithTaxAndTip}}
      </div>
      <div class = 'submit'>
        <button class='button button-balanced' type='submit'>
          Submit Order
        </button>
      </div>
    </form>
  </div>
  <br>
  <br>
    <!-- <ng-include src="footersrc"></ng-include> -->
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="tabs">
      <a class="tab-item" href='#/nav/restaurantMenu'>
        Menu
      </a>
      <a class="tab-item" href='#/nav/restaurantDescription'>
        Details
      </a>
      <a class="tab-item" href='#/nav/currentCheck'>
        Order
      </a>
      <a class="tab-item" href='#/nav/checkIn'>
        Check In
      </a>
      <a class="tab-item">
        Server
      </a>
    </div>
</ion-footer-bar>


</ion-view>
