<ion-view view-title="Current Check">
  <ion-content>
    <h4> Items Ordered </h4>
    <div collection-repeat = 'item in orderItems' >
      <li> <span class='itemName'> {{item.title}} </span><span class = 'itemPrice'> {{item.price}} </span> </li>
      
      <!-- would want to pull them to separate sides of div, also keep a running total in scope to total at bottom -->
    </div>
    <div class ='subtotal'>
      Subtotal:
      {{subtotal}}
    </div>
    <div class ='subtotal'>
      Total with Tax:
      {{totalWithTax}}
    </div>
    <div>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .15)'>15%</button>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .18)'>18%</button>
      <button class="button button-stable" ng-click='tipCalculator(totalWithTax, .20)'>20%</button> <br>
      Tip: <input ng-model='tipAmount'>
    </div>

    <form ng-submit='doCharge()'>
      <div class = 'total'>
      Total:
      {{totalWithTax*1 + tipAmount*1}}
      </div>
      <div class = 'submit'>
        <button class='button button-balanced' type='submit'>
          Submit Order
        </button>
      </div>
    </form>
  </div>
  <br>
  <br>
  <div ng-show='isBilled'> Your card has successfully been charged>
  </div>
    <!-- <ng-include src="footersrc"></ng-include> -->
  </ion-content>

  <ion-footer-bar align-title="left" class="bar-assertive">
  <div class="tabs">
      <a class="tab-item" href='#/nav/restaurantMenu'>
        Menu
      </a>
      <a class="tab-item" href='#/nav/restaurantDescription'>
        Details
      </a>
      <a class="tab-item" href='#/nav/currentCheck'>
        Order
      </a>
      <a class="tab-item" href='#/nav/checkIn'>
        Check In
      </a>
      <a class="tab-item">
        Server
      </a>
    </div>
</ion-footer-bar>


</ion-view>
