<ion-view>
  <ion-content>
    <ion-item>
    <div class="list card">
      <div class="item item">
        <h2>{{focusedMenuItem.title}}</h2>
        <p>{{focusedMenuItem.description}}</p>
      </div>
    </div>
    <div class ='order-buttons text-center'>
      <button ng-show='isCheckedIn' class='removeFromOrder button button-assertive' ng-click='removeItemFromOrder(focusedMenuItem)'>
      Remove Item
      </button>
      <button ng-show='isCheckedIn' class='addToOrder button button-balanced' ng-click='addItemToOrder(focusedMenuItem)'>
        Add Item to Order
      </button>
    </div>
    </ion-item>
    
  </ion-content>
</ion-view>