<ion-view view-title="Menu">
  <<ion-header-bar class='bar bar-header bar-dark'>
    <h1 class="title">Menu</h1>
    <div class="buttons">
      <button class="button button-clear">Check Order</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <h1>Menu</h1>
    <div>
      <div ng-repeat="(category, menuItems) in menu">
        <div class="item item-divider">{{category}}</div> 
        <ion-list>
        <ion-item ng-repeat="menuItem in menuItems" href='#/nav/menuItemDescription' ng-click='focusMenuItem(menuItem)'>
          <i class="addButton button-icon icon ion-plus-circled"></i>
          <span class="itemTitle">{{menuItem.title}}</span>
          <span class="itemPrice">{{menuItem.price}} </span>
       </ion-item>
       <ion-list>
     </div>
    </div>
  </ion-content>
  <div class="tabs">
    <a class="tab-item" href='#/nav/currentCheck'>
      Current Order
    </a>
    <a class="tab-item" ng-click='sendOrder()'>
      Place Order
    </a>
    <a class="tab-item">
      Call Waiter
    </a>
  </div>
</ion-view>
