/* Empty. Add your own CSS if you like */
.successImg {
  height: 100%;
  width: 100%;
}

.menuItem img{
  height: 150px;
  width: 150px;
}

h1 {
  text-align: center;
}

.restaurantName {
  float: left;
}

.restaurantContainer {
  height: 300px;
  width: 100%;
}
.restaurantContainer img {
  height: 100%;
  width: 100%;
}

.buttonLogo {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.accountInput {
  border: 1px black solid !important;
}

.num {
  float:right;
}
