/* Empty. Add your own CSS if you like */
.successImg {
  height: 100%;
  width: 100%;
}

.menuItem img{
  height: 150px;
  width: 150px;
}

h1 {
  text-align: center;
}

.restaurantName {
  float: left;
}

.restaurantContainer {
  height: 275px;
  width: 100%;
}
.restaurantContainer img {
  height: 100%;
  width: 100%;
}

.buttonLogo {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.num {
  float:right;
}

.checkbox.itemPrice {
  float: right;
}

input.payAmount {
  font-size:100%;
  float:right;
  text-align:right;
  height:25px;
  width:55px;
  border:1px solid black;
}

.addButton {
  color: green;
  font-size: 25px;
  z-index: 100;
}
.removeButton {
  color: red;
  font-size: 25px;
}
.counter-container .counter-minus, .counter-plus {   
    background: #333;
    color: white;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}

.counter-container .counter-field {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 40px;
}

.order-buttons {
  margin: 0 auto;
}

.itemDescription {
  text-align: center;
}

.titleBar {
  text-align: center;
  background-color: lightblue;
}

.billTotal {
  text-align: right;
}

.tip {
  width: 10%;
  margin-bottom: 2%;
}

.divCenter {
  text-align: center;
}

.input-label {
  width: 100px;
}

.fbButton {
  /*position: relative;*/
  /*margin: 10px;*/
};


.payCheckbox {
  width: 400px;
}

.payCheckbox .itemPrice {
  float:right;
}

.checkboxcircle {
  right:0px;
}

.itemPrice {
  float:right;
}
.itemName {
  float: left;
  padding-left: 5px;
}

input[type=checkbox] {
 zoom:1.8;
 float:left;
}
