/* Empty. Add your own CSS if you like */
.successImg {
  height: 100%;
  width: 100%;
}

.menuItem img{
  height: 150px;
  width: 150px;
}

h1 {
  text-align: center;
}

.restaurantName {
  float: left;
}

.restaurantContainer {
  height: 275px;
  width: 100%;
}
.restaurantContainer img {
  height: 100%;
  width: 100%;
}

.buttonLogo {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.num {
  float:right;
}

.itemPrice {
  float: right;
}

.addButton {
  color: green;
  font-size: 25px;
  z-index: 100;
}
.removeButton {
  color: red;
  font-size: 25px;
}
.counter-container .counter-minus, .counter-plus {   
    background: #333;
    color: white;
    margin: 0;
    padding: 5px 10px;
    text-decoration: none;
}

.counter-container .counter-field {
    margin: 0;
    padding: 5px;
    text-align: center;
    width: 40px;
}

.order-buttons {
  margin: 0 auto;
}

.itemDescription {
  text-align: center;
}

.titleBar {
  text-align: center;
  background-color: lightblue;
}

.billTotal {
  text-align: right;
}

.tip {
  width: 10%;
  margin-bottom: 2%;
}

.divCenter {
  text-align: center;
}
