<div class="menuCreator">
  <h1> Menu Editor </h1>
  <form class="addCategoryForm">
    <input class="form-control catForm" placeholder="New Category" ng-Model="catToAdd">
    <button class="btn btn-info createCategory" ng-click="categoryMethods.add()">Add Category</button>
  </form>
  <div class="category" ng-repeat="(category, menuItems) in menu">
    <hr>
    <h2 ng-show="!menuItems.editable">{{category}}</h2>
    <input class="form-control catNameEdit" ng-show="menuItems.editable" ng-model="menuItems.editedName">
    <button class="btn btn-info create item" ng-show="!menu[category].addItemForm && !menuItems.editable && !menuItems.deletable" ng-click="toggleAddItemForm(category)"> Add item</button>
    <button class="btn btn-info delete" ng-show="!menuItems.editable && !menu[category].addItemForm" ng-bind="categoryMethods.deleteText(menuItems)" ng-click="categoryMethods.delete(category, menuItems)">Delete</button>
    <button class="btn btn-info cancel" ng-show="menuItems.deletable" ng-click="menuItems.deletable = false">Cancel</button>
    <button class="btn btn-info edit" ng-show="!menuItems.deletable && !menu[category].addItemForm" ng-bind="categoryMethods.editText(menuItems)" ng-click="categoryMethods.edit(category, menuItems)">Edit</button>
    <button class="btn btn-info cancel" ng-show="menuItems.editable" ng-click="menuItems.editable = false">Cancel</button>
    <div ng-show="menu[category].addItemForm">
      <form class="addItemForm">
        <div class="inputs">
          <div><label>Item Title:</label> <input class="form-control" ng-model="menu[category].itemToAdd.title" type="text"></div>
          <div><label>Item Description:</label> <input class="form-control" ng-model="menu[category].itemToAdd.description" type="text" class="decription-input"></div>
          <div><label>Price:</label><input class="form-control" ng-model="menu[category].itemToAdd.price" type="text"></div>
        </div>
        <button class="btn btn-info create" ng-click="itemMethods.post(category, menuItems.catId)">Add Item</button>
        <button class="btn btn-info cancel" ng-click="toggleAddItemForm(category)">Cancel</button>
      </form>
      <hr>
    </div>  
    <div class="itemContainer" ng-repeat="(index, menuItem) in menuItems.items">
      <span class="itemTitle" ng-show="!menuItem.editable">{{menuItem.attributes.title}}</span>
      <input class="form-control titleEdit" ng-show="menuItem.editable" ng-model="menuItem.editedTitle">
      <span class="itemPrice" ng-show="!menuItem.editable">{{menuItem.attributes.price}} </span> 
      <input class="form-control priceEdit" ng-show="menuItem.editable" ng-model="menuItem.editedPrice">
      <span class="itemDescription" ng-show="!menuItem.editable">{{menuItem.attributes.description}}</span> 
      <input class="form-control descriptionEdit" ng-show="menuItem.editable" ng-model="menuItem.editedDescription">
      <button class="btn btn-info delete" ng-show="!menuItem.editable" ng-bind="itemMethods.deleteText(menuItem)" ng-click="itemMethods.delete(menuItem, category, index)"></button>
      <button class="btn btn-info cancel" ng-show="menuItem.deletable" ng-click="menuItem.deletable = false">Cancel</button>
      <button class="btn btn-info cancel" ng-show="menuItem.editable" ng-click="menuItem.editable = false">Cancel</button>
      <button class="btn btn-info edit" ng-show="!menuItem.deletable" ng-click="itemMethods.edit(menuItem)" ng-bind="itemMethods.editText(menuItem)"></button>
    </div>
  </div>
</div>