<ion-view>
  <ion-nav-title>
      Details for {{focusedRestaurant.attributes.restaurantName}}
  </ion-nav-title>
  <ion-content>
    <div ng-repeat="(category, menuItems) in menu">
      <div class="item item-divider">{{category}}</div> 
      <ion-item ng-repeat="menuItem in menuItems" ng-click='clickLocationCheckingForOrder($event, menuItem)'><span>
        <i ng-if='!menuItem.isOrdered && isCheckedIn' class="addButton icon ion-plus-circled"></i>
        <i ng-if='menuItem.isOrdered' class="removeButton icon ion-minus-circled"></i>
        <span class="itemTitle">{{menuItem.title}}</span>
        <span class="itemPrice">{{menuItem.price.toFixed(2)}} </span>
    </span>
     </ion-item>
   </div>
   <br>
   <button class="button button-block button-positive" ng-show='isCheckedIn' ng-click='sendOrder()'> Place Order </button>
   <button class="button button-block button-stable" ng-show="!isCheckedIn" ng-click="goToReservation()"> Check in at {{focusedRestaurant.attributes.restaurantName}} </button>
  <br>
  <br>
  </ion-content>

  <ion-footer-bar align-title="left">
    <div class="tabs">
        <a class="tab-item" href='#/nav/restaurantMenu'>
          Menu
        </a>
        <a class="tab-item" href='#/nav/restaurantDescription'>
          Details
        </a>
        <a class="tab-item" href='#/nav/currentCheck'>
          Check
        </a>
        <a class="tab-item" href='#/nav/checkIn'>
          Check In
        </a>
        <a class="tab-item">
          Server
        </a>
      </div>
  </ion-footer-bar>  
</ion-view>

