<ion-view view-title="Login">
  <ion-header-bar class='bar bar-header bar-dark'>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="goToSignUp()">Sign Up</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log In</button>
        </label>
        <a class='fbButton' href='http://52.33.58.174/api/auth/facebook'><img style='width: 100%; padding-left: 15px; padding-right: 15px' src="http://i.stack.imgur.com/Vk9SO.png"></a>
      </div>
    </form>
    <ion-item ng-show="invalidLogin">Invalid login information.  Please try again.</ion-item>
    <img class = 'buttonLogo' src = 'https://s3-us-west-1.amazonaws.com/digitaldiningphotos/logo1.png'>
  </ion-content>
</ion-view>
