<form class="form-signin" ng-submit="signup()">
  <div class="col-md-7">
    <h2 class="form-signin-heading">Create an account</h2>
    <div class="form-group">
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model="user.username">
    </div>
    <div class="form-group">
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model="user.password">
    </div>
    <div class="form-group">
      <input type="password" id="inputPassword2" class="form-control" placeholder="Confirm password" required ng-model="user.password2">
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
      <a href="#/login">Already have an account? <strong>Login</strong> ...</a>
    </div>
    <div class="alert alert-danger" ng-show="showPasswordMatch || duplicateEmail">
      <div ng-show="showPasswordMatch" class="glyphicon glyphicon-remove"></div><strong ng-show="showPasswordMatch"> Error! The two passwords don't match </strong><br>
      <div ng-show="duplicateEmail" class="glyphicon glyphicon-remove"></div><strong ng-show="duplicateEmail"> Error! There is already an account associated with this email address </strong>
    </div>
  </div>
</form>
