<form class="form-signin" ng-submit='signup()'>
  <h2 class="form-signin-heading">Create an account</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus ng-model='user.username'>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required ng-model='user.password'>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a href="#/login">Already have an account? <strong>Login</strong> ...</a>
</form>
